Start Simulator Configuration File
Version/Phase: 3.0
File Path: test_files/Test_3.mdf
CPU Scheduling Code: SRTF-P
Quantum Time (cycles): 3
Processor cycle time (msec): 10
Monitor display time (msec): 20
Hard drive cycle time (msec): 15
Printer cycle time (msec): 25
Keyboard cycle time (msec): 50
Log: Log to Both
Log File Path: logfile.lgf
End Simulator Configuration File
