Start Simulator Configuration File
Version/Phase: 2.0
File Path: test.mdf
CPU Scheduling Code: FIFO
Processor cycle time (msec): 10
Monitor display time (msec): 20
Hard drive cycle time (msec): 15
Printer cycle time (msec): 25
Keyboard cycle time (msec): 50
Log: Log to Both
Log File Path: logfile.lgf
End Simulator Configuration File
